<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Interview Assignment</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <tr>
        <h1 th:text="${msg}"></h1>
        <a th:href="@{/}">All</a> /
        <a th:href="@{/fromUS}">US-Only</a> /
        <a th:href="@{/qualified}">Qualified</a> /
        <a th:href="@{/disqualified}">Disqualified</a> /

        <a th:href="@{/h2-console}">H2-Console</a>
    </tr>

    <div>
        <h6>Scanned By:</h6>
        <tr th:each="scanner: ${list}">
            <td>
                <a th:href="@{'/scannedby/' + ${scanner.name}}" th:text="${scanner.name} + ${scanner.noOfPeople}"></a> /
            </td>
        </tr>
    </div>

    <div class=" table-responsive">

        <table id="personTable" class="table">
            <thead>
            <tr th:style=" 'color: blue;'">
                <th>S.N</th>
                <th>First Name</th>
                <th>Middle Initial</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>ScannedBy</th>
                <th>Email2</th>
                <th>Company Name</th>
                <th>Job Title</th>
                <th>Address1</th>
                <th>Address2</th>
                <th>Address3</th>
                <th>City</th>
                <th>StateId</th>
                <th>Zip</th>
                <th>CountryId</th>
                <th>Phone Number</th>
                <th>Phone Number2</th>
                <th>Fax Number</th>
                <th>Event Name</th>
                <th>Scanned Date</th>
                <th>Scanned Time</th>
                <th>Question</th>
                <th>Response</th>
                <th>Note</th>
                <th>Collateral</th>


            </tr>
            </thead>
            <tbody>
            <tr th:each="person, rowStat: ${persons}"
                th:style="${rowStat.odd} ? 'color: green' : 'color: green;'">
                <td th:text="${rowStat.count}">num</td>
                <td th:text="${person.firstName}"></td>
                <td th:text="${person.middleInitial}"></td>
                <td th:text="${person.lastName}"></td>
                <td th:text="${person.email}"></td>
                <td th:text="${person.status}"></td>
                <td th:text="${person.scannedBy}"></td>
                <td th:text="${person.email2}"></td>
                <td th:text="${person.companyName}"></td>
                <td th:text="${person.jobTitle}"></td>
                <td th:text="${person.address1}"></td>
                <td th:text="${person.address2}"></td>
                <td th:text="${person.address3}"></td>
                <td th:text="${person.city}"></td>
                <td th:text="${person.stateId}"></td>
                <td th:text="${person.zip}"></td>
                <td th:text="${person.countryId}"></td>
                <td th:text="${person.phoneNumber}"></td>
                <td th:text="${person.phone2Number}"></td>
                <td th:text="${person.faxNumber}"></td>
                <td th:text="${person.eventName}"></td>
                <td th:text="${person.scannedDate}"></td>
                <td th:text="${person.scannedTime}"></td>
                <td th:text="${person.question}"></td>
                <td th:text="${person.response}"></td>
                <td th:text="${person.note}"></td>
                <td th:text="${person.collateral}"></td>

            </tr>
            </tbody>
        </table>
    </div>


</div>

</body>
</html>